@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&family=Sriracha&display=swap');

body{
    background-color: #b3e5ee77;
    font-family: 'Robot Condensed','Bradley Hand', sans-serif;font-family: 'Robot Condensed','Bradley Hand', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#hero{
    border: 1px solid #0076b694;
    padding-bottom: 50px;
}

h2{
    margin: 0;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

.home-title{
    font-family: 'Robot Condensed','Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.logo, .icon{
    width: 80px;
}

.icon{
    padding-top: 10px;
}

#logo_link{
    padding-top: 5px;
}

#hero-img{
    width: 100%;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #b3e5ee77;
    margin-bottom: 100px;
}

header {
    background-color: #90E0EF;
}

nav a{
    text-align: center;
    color: #396E94;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #0077B6;
    color: white;
}

.card-img{
    border: 10px solid #0076b694;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.book, .join{
    background-color: #00B4D8;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color:#0077B6;
}

.msg{
    background-color:#03045E;
    color: white;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}

.msg h2{
    font-family: 'Robot Condensed','Bradley Hand', sans-serif;
}

.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color:#03045E;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {  
    color: #90E0EF;
    text-decoration: none;
    
}

footer p {
    color: #90E0EF;
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}



